@tailwind base;
@tailwind components;
@tailwind utilities;

/* 각 페이지별 기본 wrapper */
.page-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

/* drop-shadow 재정의 */
.drop-shadow {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* input의 기본 속성 제거 */
input {
	--webkit-appearance: none;
	-webkit-border-radius: 0;
}
